<ion-content>
  <div class="title">
    <ion-icon
      name="arrow-back-circle-outline"
      routerLink="/home/dashboard"
    ></ion-icon>
    Notification
  </div>
  <div class="notification_area">

    <div class="notifcation_boxes">
      <div class="message">
        <h3>Your last login was in mumbai, pune 80004</h3>
        <span>2h ago</span>
      </div>
      <div class="action">
        <ion-button shape="round" id="open-action-sheet">
          <ion-icon
            slot="icon-only"
            name="ellipsis-vertical-outline"
          ></ion-icon>
        </ion-button>
        <ion-action-sheet
          trigger="open-action-sheet"
          header="Actions"
          [buttons]="actionSheetButtons"
        ></ion-action-sheet>
      </div>
    </div>
    <div class="notifcation_boxes">
      <div class="message">
        <h3>Your order was placed 24h ago</h3>
        <span>24h ago</span>
      </div>
      <div class="action">
        <ion-button shape="round" id="open-action-sheet1">
          <ion-icon
            slot="icon-only"
            name="ellipsis-vertical-outline"
          ></ion-icon>
        </ion-button>
        <ion-action-sheet
          trigger="open-action-sheet1"
          header="Actions"
          [buttons]="actionSheetButtons"
        ></ion-action-sheet>
      </div>
    </div>
    <div class="notifcation_boxes">
      <div class="message">
        <h3>You cancel the order of pizza for 40% discount</h3>
        <span>2m ago</span>
      </div>
      <div class="action">
        <ion-button shape="round" id="open-action-sheet2">
          <ion-icon
            slot="icon-only"
            name="ellipsis-vertical-outline"
          ></ion-icon>
        </ion-button>
        <ion-action-sheet
          trigger="open-action-sheet2"
          header="Actions"
          [buttons]="actionSheetButtons"
        ></ion-action-sheet>
      </div>
    </div>
    <div class="notifcation_boxes">
      <div class="message">
        <h3>You received your order, thank you</h3>
        <span>2h ago</span>
      </div>
      <div class="action">
        <ion-button shape="round" id="open-action-sheet3">
          <ion-icon
            slot="icon-only"
            name="ellipsis-vertical-outline"
          ></ion-icon>
        </ion-button>
        <ion-action-sheet
          trigger="open-action-sheet3"
          header="Actions"
          [buttons]="actionSheetButtons"
        ></ion-action-sheet>
      </div>
    </div>
    <div class="notifcation_boxes">
      <div class="message">
        <h3>Your last login was in mumbai, pune 80004</h3>
        <span>2h ago</span>
      </div>
      <div class="action">
        <ion-button shape="round" id="open-action-sheet4">
          <ion-icon
            slot="icon-only"
            name="ellipsis-vertical-outline"
          ></ion-icon>
        </ion-button>
        <ion-action-sheet
          trigger="open-action-sheet4"
          header="Actions"
          [buttons]="actionSheetButtons"
        ></ion-action-sheet>
      </div>
    </div>
    <div class="notifcation_boxes">
      <div class="message">
        <h3>Your last login was in mumbai, pune 80004</h3>
        <span>2h ago</span>
      </div>
      <div class="action">
        <ion-button shape="round" id="open-action-sheet5">
          <ion-icon
            slot="icon-only"
            name="ellipsis-vertical-outline"
          ></ion-icon>
        </ion-button>
        <ion-action-sheet
          trigger="open-action-sheet5"
          header="Actions"
          [buttons]="actionSheetButtons"
        ></ion-action-sheet>
      </div>
    </div>
    <div class="notifcation_boxes">
      <div class="message">
        <h3>Your last login was in mumbai, pune 80004</h3>
        <span>2h ago</span>
      </div>
      <div class="action">
        <ion-button shape="round" id="open-action-sheet6">
          <ion-icon
            slot="icon-only"
            name="ellipsis-vertical-outline"
          ></ion-icon>
        </ion-button>
        <ion-action-sheet
          trigger="open-action-sheet6"
          header="Actions"
          [buttons]="actionSheetButtons"
        ></ion-action-sheet>
      </div>
    </div>
    <div class="notifcation_boxes">
      <div class="message">
        <h3>Your last login was in mumbai, pune 80004</h3>
        <span>2h ago</span>
      </div>
      <div class="action">
        <ion-button shape="round" id="open-action-sheet7">
          <ion-icon
            slot="icon-only"
            name="ellipsis-vertical-outline"
          ></ion-icon>
        </ion-button>
        <ion-action-sheet
          trigger="open-action-sheet7"
          header="Actions"
          [buttons]="actionSheetButtons"
        ></ion-action-sheet>
      </div>
    </div>
    <div class="notifcation_boxes">
      <div class="message">
        <h3>Your last login was in mumbai, pune 80004</h3>
        <span>2h ago</span>
      </div>
      <div class="action">
        <ion-button shape="round" id="open-action-sheet8">
          <ion-icon
            slot="icon-only"
            name="ellipsis-vertical-outline"
          ></ion-icon>
        </ion-button>
        <ion-action-sheet
          trigger="open-action-sheet8"
          header="Actions"
          [buttons]="actionSheetButtons"
        ></ion-action-sheet>
      </div>
    </div>
    <div class="notifcation_boxes">
      <div class="message">
        <h3>Your last login was in mumbai, pune 80004</h3>
        <span>2h ago</span>
      </div>
      <div class="action">
        <ion-button shape="round" id="open-action-sheet9">
          <ion-icon
            slot="icon-only"
            name="ellipsis-vertical-outline"
          ></ion-icon>
        </ion-button>
        <ion-action-sheet
          trigger="open-action-sheet9"
          header="Actions"
          [buttons]="actionSheetButtons"
        ></ion-action-sheet>
      </div>
    </div>

  </div>
</ion-content>
