<ion-content>
  <div class="cart">
    <div class="cart_title">Your Cart</div>
    <div class="cart_box_area">
      <div class="cart_box" style="margin-top: 20px">
        <div class="product_img">
          <img src="assets/img4.jpg" alt="" />
        </div>
        <div class="product_name">
          <h4>Sahi Paneer</h4>
          <p><ion-icon name="trash-outline"></ion-icon></p>
          <span>MyDukaanSe</span>
        </div>
        <div class="product_quantity">
          <div class="price">₹ 199</div>
          <div class="add_more_btn">
            <h2>+</h2>
            <h2>1</h2>
            <h2>
              <ion-icon
                name="remove-outline"
                style="margin-top: 5px"
              ></ion-icon>
            </h2>
          </div>
        </div>
      </div>
      <div class="cart_box" style="margin-top: 20px">
        <div class="product_img">
          <img src="assets/img1.jpg" alt="" />
        </div>
        <div class="product_name">
          <h4>Chhole Bhature</h4>
          <p><ion-icon name="trash-outline"></ion-icon></p>
          <span>MyDukaanSe</span>
        </div>
        <div class="product_quantity">
          <div class="price">₹ 1199</div>
          <div class="add_more_btn">
            <h2>+</h2>
            <h2>1</h2>
            <h2>
              <ion-icon
                name="remove-outline"
                style="margin-top: 5px"
              ></ion-icon>
            </h2>
          </div>
        </div>
      </div>
      <div class="cart_box" style="margin-top: 20px">
        <div class="product_img">
          <img src="assets/img2.jpg" alt="" />
        </div>
        <div class="product_name">
          <h4>Chicken Chili</h4>
          <p><ion-icon name="trash-outline"></ion-icon></p>
          <span>MyDukaanSe</span>
        </div>
        <div class="product_quantity">
          <div class="price">₹ 199</div>
          <div class="add_more_btn">
            <h2>+</h2>
            <h2>1</h2>
            <h2>
              <ion-icon
                name="remove-outline"
                style="margin-top: 5px"
              ></ion-icon>
            </h2>
          </div>
        </div>
      </div>
      <div class="cart_box" style="margin-top: 20px">
        <div class="product_img">
          <img src="assets/img3.jpg" alt="" />
        </div>
        <div class="product_name">
          <h4>Itali Dosa</h4>
          <p><ion-icon name="trash-outline"></ion-icon></p>
          <span>MyDukaanSe</span>
        </div>
        <div class="product_quantity">
          <div class="price">₹ 159</div>
          <div class="add_more_btn">
            <h2>+</h2>
            <h2>1</h2>
            <h2>
              <ion-icon
                name="remove-outline"
                style="margin-top: 5px"
              ></ion-icon>
            </h2>
          </div>
        </div>
      </div>
      <div class="cart_box" style="margin-top: 20px">
        <div class="product_img">
          <img src="assets/img5.jpg" alt="" />
        </div>
        <div class="product_name">
          <h4>Gol gappa</h4>
          <p><ion-icon name="trash-outline"></ion-icon></p>
          <span>MyDukaanSe</span>
        </div>
        <div class="product_quantity">
          <div class="price">₹ 199</div>
          <div class="add_more_btn">
            <h2>+</h2>
            <h2>1</h2>
            <h2>
              <ion-icon
                name="remove-outline"
                style="margin-top: 5px"
              ></ion-icon>
            </h2>
          </div>
        </div>
      </div>
    </div>
    <div class="total_price_caculation">
      <input type="text" placeholder="Enter Discount Code">
      <ion-button>Apply</ion-button>
      <span>Sub Total : <b>₹ 400</b></span>
      <span>Total : <b>₹ 389</b></span>
      <ion-button style="--background: orangered;">Checkout</ion-button>
    </div>
  </div>
</ion-content>
