<ion-content>
  <div class="profile_section">
    <div class="profile_img">
      <img src="assets/profileimg.webp" alt="" />
    </div>
    <div class="user_name">
      <h2>Rohit Kumar</h2>
      <p><ion-icon name="location-outline"></ion-icon>Hajipur Bihar.</p>
    </div>
  </div>
  <div class="menu_section">
    <div class="contact_details">
      <h6><ion-icon name="mail-outline"></ion-icon>&nbsp; (+91) 9631284595</h6>
      <h6>
        <ion-icon name="call-outline"></ion-icon>&nbsp;
        kumarrohit354789gmail.com
      </h6>
    </div>
    <div class="menu">
      <ul>
        <li>
          <ion-icon name="create-outline"></ion-icon>
          Update Profile
        </li>
        <li>
          <ion-icon name="bookmark-outline"></ion-icon>
          Your Favorites
        </li>
        <li>
          <ion-icon name="cash-outline"></ion-icon>
          Payments
        </li>
        <li>
          <ion-icon name="bag-handle-outline"></ion-icon>
          Your Orders
        </li>
        <li>
          <ion-icon name="settings-outline"></ion-icon>
          Setting
        </li>
        <li style="color: rgb(209, 62, 8)" routerLink="/auth/login_page">
          <ion-icon
            name="power-outline"
            style="color: rgb(209, 62, 8)"
          ></ion-icon>
          Logout
        </li>
      </ul>
    </div>
  </div>
</ion-content>
