<ion-content>
  <div class="img_slider"></div>

  <h3>All Categories</h3>
  <div class="food_categories_section">
    <div class="category_boxes">
      <img src="assets/foodss.png" alt="" />
    </div>
    <div class="category_boxes">
      <img src="assets/food1.png" alt="" />
    </div>
    <div class="category_boxes">
      <img src="assets/food2.png" alt="" />
    </div>
    <div class="category_boxes">
      <img src="assets/food1.png" alt="" />
    </div>
  </div>

  <div class="favorite_food_section">
    <h3>Favorites Just For You</h3>

    <div class="product_area">
      <ion-card>
        <img src="assets/img1.jpg" />
        <ion-card-header>
          <ion-card-title> Chhole Bhature </ion-card-title>
          <p><s>₹999</s> <strong style="color: green"> &nbsp; ₹799</strong></p>
          <div id="btns">
            <ion-button>Byu Now</ion-button>
            <span>
              <ion-icon name="heart-outline"></ion-icon>
              <ion-icon name="bag-add-outline"></ion-icon>
            </span>
          </div>
        </ion-card-header>
      </ion-card>
      <ion-card>
        <img src="assets/img2.jpg" />
        <ion-card-header>
          <ion-card-title> Chicken </ion-card-title>
          <p><s>₹999</s> <strong style="color: green"> &nbsp; ₹499</strong></p>
          <div id="btns">
            <ion-button>Byu Now</ion-button>
            <span>
              <ion-icon name="heart-outline"></ion-icon>
              <ion-icon name="bag-add-outline"></ion-icon>
            </span>
          </div>
        </ion-card-header>
      </ion-card>
      <ion-card>
        <img src="assets/img3.jpg" />
        <ion-card-header>
          <ion-card-title> Itali Dosa </ion-card-title>
          <p><s>₹599</s> <strong style="color: green"> &nbsp; ₹299</strong></p>
          <div id="btns">
            <ion-button>Byu Now</ion-button>
            <span>
              <ion-icon name="heart-outline"></ion-icon>
              <ion-icon name="bag-add-outline"></ion-icon>
            </span>
          </div>
        </ion-card-header>
      </ion-card>
      <ion-card>
        <img src="assets/img4.jpg" />
        <ion-card-header>
          <ion-card-title> Sahi Paneer </ion-card-title>
          <p><s>₹549</s> <strong style="color: green"> &nbsp; ₹249</strong></p>
          <div id="btns">
            <ion-button>Byu Now</ion-button>
            <span>
              <ion-icon name="heart-outline"></ion-icon>
              <ion-icon name="bag-add-outline"></ion-icon>
            </span>
          </div>
        </ion-card-header>
      </ion-card>
      <ion-card>
        <img src="assets/img5.jpg" />
        <ion-card-header>
          <ion-card-title> Pani Puri </ion-card-title>
          <p><s>₹199</s> <strong style="color: green"> &nbsp; ₹99</strong></p>
          <div id="btns">
            <ion-button>Byu Now</ion-button>
            <span>
              <ion-icon name="heart-outline"></ion-icon>
              <ion-icon name="bag-add-outline"></ion-icon>
            </span>
          </div>
        </ion-card-header>
      </ion-card>
      <ion-card>
        <img src="assets/img6.jpg" />
        <ion-card-header>
          <ion-card-title> Hot Pizza </ion-card-title>
          <p><s>₹549</s> <strong style="color: green"> &nbsp; ₹229</strong></p>
          <div id="btns">
            <ion-button>Byu Now</ion-button>
            <span>
              <ion-icon name="heart-outline"></ion-icon>
              <ion-icon name="bag-add-outline"></ion-icon>
            </span>
          </div>
        </ion-card-header>
      </ion-card>
      <ion-card>
        <img src="assets/img7.jpg" />
        <ion-card-header>
          <ion-card-title> Chawal Dal</ion-card-title>
          <p><s>₹499</s> <strong style="color: green"> &nbsp; ₹249</strong></p>
          <div id="btns">
            <ion-button>Byu Now</ion-button>
            <span>
              <ion-icon name="heart-outline"></ion-icon>
              <ion-icon name="bag-add-outline"></ion-icon>
            </span>
          </div>
        </ion-card-header>
      </ion-card>
      <ion-card>
        <img src="assets/img8.jpg" />
        <ion-card-header>
          <ion-card-title>Itali Shambar </ion-card-title>
          <p><s>₹999</s> <strong style="color: green"> &nbsp; ₹799</strong></p>
          <div id="btns">
            <ion-button>Byu Now</ion-button>
            <span>
              <ion-icon name="heart-outline"></ion-icon>
              <ion-icon name="bag-add-outline"></ion-icon>
            </span>
          </div>
        </ion-card-header>
      </ion-card>
      <ion-card>
        <img src="assets/img9.jpg" />
        <ion-card-header>
          <ion-card-title> South Indian </ion-card-title>
          <p>
            <s>₹2,999</s> <strong style="color: green"> &nbsp; ₹1,599</strong>
          </p>
          <div id="btns">
            <ion-button>Byu Now</ion-button>
            <span>
              <ion-icon name="heart-outline"></ion-icon>
              <ion-icon name="bag-add-outline"></ion-icon>
            </span>
          </div>
        </ion-card-header>
      </ion-card>
      <ion-card>
        <img src="assets/img10.jpg" />
        <ion-card-header>
          <ion-card-title> Tea Bread </ion-card-title>
          <p><s>₹149</s> <strong style="color: green"> &nbsp; ₹99</strong></p>
          <div id="btns">
            <ion-button>Byu Now</ion-button>
            <span>
              <ion-icon name="heart-outline"></ion-icon>
              <ion-icon name="bag-add-outline"></ion-icon>
            </span>
          </div>
        </ion-card-header>
      </ion-card>
      <ion-card>
        <img src="assets/img11.jpg" />
        <ion-card-header>
          <ion-card-title> Hot Burger </ion-card-title>
          <p><s>₹999</s> <strong style="color: green"> &nbsp; ₹799</strong></p>
          <div id="btns">
            <ion-button>Byu Now</ion-button>
            <span>
              <ion-icon name="heart-outline"></ion-icon>
              <ion-icon name="bag-add-outline"></ion-icon>
            </span>
          </div>
        </ion-card-header>
      </ion-card>

      <ion-button style="--background: rgb(84, 135, 165); margin-left: 35%"
        >Load more</ion-button
      >
    </div>
  </div>
</ion-content>
