<ion-content>
  <div class="product_img">
    <img src="assets/img4.jpg" alt="" />
  </div>
  <div class="product_name">
    <h3>Paneer Chili</h3>
    <h3 style="float: right; color: rgb(202, 60, 8)">₹999</h3>
  </div>
  <div class="description">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Aut nemo quis
    accusamus necessitatibus nostrum sunt quae non.
    <br /><br />

    <span>
      <ion-icon name="star-outline"></ion-icon>&nbsp;
      <ion-icon name="star-outline"></ion-icon>&nbsp;
      <ion-icon name="star-outline"></ion-icon>&nbsp;
      <ion-icon name="star-outline"></ion-icon>&nbsp;
      <ion-icon name="star-outline"></ion-icon>
    </span>
  </div>
  <div class="btn_area">
    <ion-button>Buy Now</ion-button>
    <ion-button
      style="--background: none; color: black; width: 20%; margin-left: 10px">
      <ion-icon name="bag-add-outline"></ion-icon>
    </ion-button>
  </div>
  <div class="reviews">
    <b>Customer Reviews</b>

    <div class="boxes">
      <h3>Ritesh Kumar</h3>
      <span>
        <ion-icon name="star-outline"></ion-icon>&nbsp;
        <ion-icon name="star-outline"></ion-icon>&nbsp;
        <ion-icon name="star-outline"></ion-icon>&nbsp;
        <ion-icon name="star-outline"></ion-icon>&nbsp;
        <ion-icon name="star-outline"></ion-icon>
      </span>
      <p>
        The food was very amazing because of it test and i really like the test
        of paneer. Paneer was very fresh and crispy. I recommend you this.
      </p>
      <p>20h ago</p>
    </div>
    <div class="boxes">
      <h3>Rohit Kumar</h3>
      <span>
        <ion-icon name="star-outline"></ion-icon>&nbsp;
        <ion-icon name="star-outline"></ion-icon>&nbsp;
        <ion-icon name="star-outline"></ion-icon>&nbsp;
        <ion-icon name="star-outline"></ion-icon>&nbsp;
        <ion-icon name="star-outline"></ion-icon>
      </span>
      <p>
        The food was very amazing because of it test and i really like the test
        of paneer. Paneer was very fresh and crispy. I recommend you this.
      </p>
      <p>2h ago</p>
    </div>
    <div class="boxes">
      <h3>Vishal Kumar</h3>
      <span>
        <ion-icon name="star-outline"></ion-icon>&nbsp;
        <ion-icon name="star-outline"></ion-icon>&nbsp;
        <ion-icon name="star-outline"></ion-icon>&nbsp;
        <ion-icon name="star-outline"></ion-icon>&nbsp;
        <ion-icon name="star-outline"></ion-icon>
      </span>
      <p>
        The food was very amazing because of it test and i really like the test
        of paneer. Paneer was very fresh and crispy. I recommend you this.
      </p>
      <p>3h ago</p>
    </div>
    <div class="boxes">
      <h3>Ravi Kumar</h3>
      <span>
        <ion-icon name="star-outline"></ion-icon>&nbsp;
        <ion-icon name="star-outline"></ion-icon>&nbsp;
        <ion-icon name="star-outline"></ion-icon>&nbsp;
        <ion-icon name="star-outline"></ion-icon>&nbsp;
        <ion-icon name="star-outline"></ion-icon>
      </span>
      <p>
        The food was very amazing because of it test and i really like the test
        of paneer. Paneer was very fresh and crispy. I recommend you this.
      </p>
      <p>20h ago</p>
    </div>
    <div class="boxes">
      <h3>Raju Pandit</h3>
      <span>
        <ion-icon name="star-outline"></ion-icon>&nbsp;
        <ion-icon name="star-outline"></ion-icon>&nbsp;
        <ion-icon name="star-outline"></ion-icon>&nbsp;
        <ion-icon name="star-outline"></ion-icon>&nbsp;
        <ion-icon name="star-outline"></ion-icon>
      </span>
      <p>
        The food was very amazing because of it test and i really like the test
        of paneer. Paneer was very fresh and crispy. I recommend you this.
      </p>
      <p>20h ago</p>
    </div>
    <div class="boxes">
      <h3>Kundan Kumar</h3>
      <span>
        <ion-icon name="star-outline"></ion-icon>&nbsp;
        <ion-icon name="star-outline"></ion-icon>&nbsp;
        <ion-icon name="star-outline"></ion-icon>&nbsp;
        <ion-icon name="star-outline"></ion-icon>&nbsp;
        <ion-icon name="star-outline"></ion-icon>
      </span>
      <p>
        The food was very amazing because of it test and i really like the test
        of paneer. Paneer was very fresh and crispy. I recommend you this.
      </p>
      <p>20h ago</p>
    </div>
    <div class="boxes">
      <h3>Kunal Kumar</h3>
      <span>
        <ion-icon name="star-outline"></ion-icon>&nbsp;
        <ion-icon name="star-outline"></ion-icon>&nbsp;
        <ion-icon name="star-outline"></ion-icon>&nbsp;
        <ion-icon name="star-outline"></ion-icon>&nbsp;
        <ion-icon name="star-outline"></ion-icon>
      </span>
      <p>
        The food was very amazing because of it test and i really like the test
        of paneer. Paneer was very fresh and crispy. I recommend you this.
      </p>
      <p>20h ago</p>
    </div>
    <div class="boxes">
      <h3>Sahil Kumar</h3>
      <span>
        <ion-icon name="star-outline"></ion-icon>&nbsp;
        <ion-icon name="star-outline"></ion-icon>&nbsp;
        <ion-icon name="star-outline"></ion-icon>&nbsp;
        <ion-icon name="star-outline"></ion-icon>&nbsp;
        <ion-icon name="star-outline"></ion-icon>
      </span>
      <p>
        The food was very amazing because of it test and i really like the test
        of paneer. Paneer was very fresh and crispy. I recommend you this.
      </p>
      <p>20h ago</p>
    </div>
    <div class="boxes">
      <h3>Amarjeet Kumar</h3>
      <span>
        <ion-icon name="star-outline"></ion-icon>&nbsp;
        <ion-icon name="star-outline"></ion-icon>&nbsp;
        <ion-icon name="star-outline"></ion-icon>&nbsp;
        <ion-icon name="star-outline"></ion-icon>&nbsp;
        <ion-icon name="star-outline"></ion-icon>
      </span>
      <p>
        The food was very amazing because of it test and i really like the test
        of paneer. Paneer was very fresh and crispy. I recommend you this.
      </p>
      <p>20h ago</p>
    </div>
    <div class="boxes">
      <h3>Ayush Kumar</h3>
      <span>
        <ion-icon name="star-outline"></ion-icon>&nbsp;
        <ion-icon name="star-outline"></ion-icon>&nbsp;
        <ion-icon name="star-outline"></ion-icon>&nbsp;
        <ion-icon name="star-outline"></ion-icon>&nbsp;
        <ion-icon name="star-outline"></ion-icon>
      </span>
      <p>
        The food was very amazing because of it test and i really like the test
        of paneer. Paneer was very fresh and crispy. I recommend you this.
      </p>
      <p>20h ago</p>
    </div>

  </div>
</ion-content>
