<ion-content>
  <div class="login_img">
    <img src="assets/bgcc.jpg" alt="" />
  </div>
  <div class="form_box">
    <div class="title">
      <h2>Create New Password</h2>
      <p>Create Your New Password to be Continue</p>
    </div>
    <form action="">
      <ion-input
        type="Password"
        label="Create Password"
        label-placement="floating"
        fill="outline"
        placeholder="Enter New Password"
      ></ion-input>

      <ion-input
        type="Password"
        label="Confirm Password"
        label-placement="floating"
        fill="outline"
        placeholder="Confirm Your New Password"
      ></ion-input>

      <ion-button routerLink="/auth/login_page" style="margin-top: 30px"
        >Continue</ion-button
      >
      <ion-button
        routerLink="/auth/verify_email"
        style="--background: none; color: black"
      >
        <ion-icon name="arrow-back-outline"></ion-icon>
        &nbsp;Go Back
      </ion-button>
    </form>
  </div>
</ion-content>
