<ion-menu contentId="main-content">
  <ion-header>
    <ion-toolbar>
      <ion-title>Bhojanalya</ion-title>
      <ion-buttons slot="end">
        <ion-menu-toggle>
          <ion-button shape="round">
            <ion-icon slot="icon-only" name="close"></ion-icon>
          </ion-button>
        </ion-menu-toggle>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>

  <ion-content>
    <ion-list>
      <ion-menu-toggle auto-hide="true">
        <ion-item lines="full" routerLink="/home/account">
          <ion-icon name="person-circle-outline"></ion-icon>
          <ion-label>&nbsp;View Profile</ion-label>
        </ion-item>
      </ion-menu-toggle>

      <ion-menu-toggle auto-hide="true">
        <ion-item lines="full" routerLink="/home/mydeviceid">
          <ion-icon name="heart-circle-outline"></ion-icon>
          <ion-label>&nbsp;Your Favorite</ion-label>
        </ion-item>
      </ion-menu-toggle>

      <ion-menu-toggle auto-hide="true">
        <ion-item lines="full" routerLink="/home/pages/contact-us">
          <ion-icon name="cash-outline"></ion-icon>
          <ion-label>&nbsp;Payments</ion-label>
        </ion-item>
      </ion-menu-toggle>

      <ion-menu-toggle auto-hide="true">
        <ion-item lines="full" routerLink="/home/pages/about-us">
          <ion-icon name="settings-outline"></ion-icon>
          <ion-label>&nbsp;Setting</ion-label>
        </ion-item>
      </ion-menu-toggle>
    </ion-list>

    <div class="sidebarBottom">
      <ion-item lines="full" routerLink="/auth/login_page">
        <ion-icon
          name="log-out-outline"
          style="transform: rotate(180deg)"
        ></ion-icon>
        <ion-label>&nbsp;Logout</ion-label>
      </ion-item>
      <p class="ion-text-center">App Version: 0.1</p>
    </div>
  </ion-content>
</ion-menu>

<div class="ion-page" id="main-content">
  <ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title>
        <b>Bhojanalya</b>
      </ion-title>

      <ion-buttons slot="end">
        <ion-button shape="round" routerLink="/home/search">
          <ion-icon slot="icon-only" name="search-outline"></ion-icon>
        </ion-button>
        <ion-button shape="round" routerLink="/home/notification">
          <ion-icon slot="icon-only" name="notifications-outline"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>

  <ion-content>
    <ion-tabs>
      <ion-tab-bar slot="bottom">
        <ion-tab-button tab="dashboard">
          <ion-icon name="home-outline"></ion-icon>
          Home
        </ion-tab-button>
        <ion-tab-button tab="category">
          <ion-icon name="restaurant-outline"></ion-icon>
          Categories
        </ion-tab-button>
        <ion-tab-button tab="cart">
          <ion-icon name="cart-outline"></ion-icon>
          Add to Cart
        </ion-tab-button>
        <ion-tab-button tab="account">
          <ion-icon name="person-outline"></ion-icon>
          Account
        </ion-tab-button>
      </ion-tab-bar>
    </ion-tabs>
  </ion-content>
</div>
